<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
<!--    <link href="/lib/bower-bootswatch-paper/css/paper.min.css" rel="stylesheet" />-->
    <link href="/lib/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Defines CSS necessary for animations -->
    <link rel="stylesheet" href="/stylesheets/app.animations.css" />

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/satellizer/dist/satellizer.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-messages/angular-messages.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/lib/angular-paging/dist/paging.min.js"></script>
    <script src="/lib/socket.io-client/dist/socket.io.js"></script>
    <script src="/lib/angular-socket-io/socket.js"></script>

    <!-- DateTime Picker scripts -->
    <script type="text/javascript" src="moment/moment.js"></script>
    <script type="text/javascript" src="angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script type="text/javascript" src="angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Pagination scripts -->
    <script type="text/javascript" src="/lib/angularUtils-pagination/dirPagination.js"></script>
    <!-- <link rel="stylesheet" href="/lib/angularUtils-pagination/dirPagination.tpl.html"> -->
</head>

<body>
<!--
    <h1><%= title %></h1>
    <p class="jumbotron">Welcome to <%= title %></p>
-->
    <header class="clearfix">
        <div data-ng-include="'/javascripts/navbar/navbar.html'"></div>
    </header>

    <div class="container-fluid view-container">
        <div ui-view class="view-frame"></div>
    </div>

    <script src="/javascripts/app.module.js"></script>
    <script src="/javascripts/core/core.module.js"></script>
    <script src="/javascripts/core/core.route.js"></script>
    <script src="/javascripts/core/BearerAuthInterceptor.js"></script>

    <script src="/javascripts/directives/todoEscape.js"></script>
    <script src="/javascripts/directives/todoFocus.js"></script>

    <script src="/javascripts/services/api.js"></script>
    <script src="/javascripts/services/taskAPI.js"></script>
    <script src="/javascripts/services/schedule-tweet.js"></script>
    <script src="/javascripts/services/trackBy.js"></script>
    <script src="/javascripts/services/socket.js"></script>
    <script src="/javascripts/services/notification.js"></script>
    <script src="/javascripts/services/userAPI.js"></script>
    <script src="/javascripts/services/analyticsAPI.js"></script>

    <script src="/javascripts/home/home.controller.js"></script>
    <script src="/javascripts/timeline/timeline.controller.js"></script>
    <script src="/javascripts/login/login.controller.js"></script>
    <script src="/javascripts/signup/signup.controller.js"></script>
    <script src="/javascripts/navbar/navbar.controller.js"></script>
    <script src="/javascripts/dashboard/sidebar.controller.js"></script>
    <script src="/javascripts/detail/detail.controller.js"></script>
    <script src="/javascripts/profile/profile.controller.js"></script>
    <script src="/javascripts/followers/followers.controller.js"></script>
    <script src="/javascripts/search/search.controller.js"></script>
    <script src="/javascripts/stream/stream.controller.js"></script>
    <script src="/javascripts/users/users.controller.js"></script>
    <script src="/javascripts/task/task.controller.js"></script>
    <script src="/javascripts/auto-tweet/auto-tweet.controller.js"></script>
    <script src="/javascripts/analytics/analytics.controller.js"></script>
    <script src="/javascripts/analytics-overview/analytics-overview.controller.js"></script>
    <script src="/javascripts/analytics-client/analytics-client.controller.js"></script>
    <script src="/javascripts/show-user-modal/show-user-modal.component.js"></script>
    <script src="/javascripts/prompt-delete/prompt-delete.component.js"></script>
    <script src="/javascripts/compose-tweet/compose-tweet.component.js"></script>
</body>

</html>